#http://stackoverflow.com/questions/16736856/what-should-be-in-my-gitignore-for-an-android-studio-project
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
gradle/
gradlew
gradlew.bat

!/google-services.json
/src/main/res/raw/client_secret_oauth2.json
/src/main/res/raw/credential.json
